<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bunny Wars</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, height=device-height, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready file:; style-src 'self' 'unsafe-inline'; img-src * data:; script-src * 'unsafe-inline' 'unsafe-eval'">
</head>
<body>
    
    <div style="font-family: Tron;visibility:hidden;opacity:0;position:fixed;"> &nbsp;</div>
    <div style="font-family: spacemono;visibility:hidden;opacity:0;position:fixed;"> &nbsp;</div>

    <div id="bunnywars-main"></div>

    <% if (htmlWebpackPlugin.options.target === 'cordova') { %>
    <script type="text/javascript" src="cordova.js"></script>
    <% } %>

    <script src="https://connect.facebook.net/en_US/fbinstant.6.2.js"></script>
</body>
</html>
